
@import url('https://fonts.googleapis.com/css?family=Kosugi&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: Kosugi, sans-serif;
	font-size: 15px;
}

.grid {
	display: block;
	margin: auto;
	width: 80%;
	height: auto;
	max-width: 1200px;
}

.content {
	width: 100%;
	height: auto;
	margin: 30px auto;
}

.space {
	padding-top: 20px;
}

.mail a {
	margin: 20px auto;
	color: black;
	font-size: 50px;
	transition-duration: 0.1s;
}

.mail a:hover {
	color: red;
}

.mail a:active {
}

img {
	display: block;
	width: 100%;
}